<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>

{% if status_message %}
    <div style="margin-top:10px; padding:10px; background:#f0f0f0; border-radius:5px;">
        {{ status_message }}
    </div>
{% endif %}


</body>
</html>